body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #fff; /* 背景色を白に */
    color: #000; /* テキストの色を黒に */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    margin-bottom: 30px;
    position: relative; /* 相対位置 */
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.buttons a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 0 10px;
    transition: all 0.3s ease;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400%;
    animation: rainbow 5s infinite;
}

@keyframes rainbow {
    0% { background-position: 0%; }
    50% { background-position: 100%; }
    100% { background-position: 0%; }
}

.header-content, .qa-section {
    text-align: center;
    max-width: 80%; /* 幅を最大80%に制限 */
    margin: 0 auto;
}

.qa-section {
    line-height: 1.6;
    margin-top: 50px;
    margin-bottom: 30px;
}

.qa-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.qa-section p {
    margin-bottom: 20px;
}

h1 {
    font-size: 6rem;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(to right, green, red, blue, white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative; /* 相対位置 */
}

.flag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: url('https://github.com/capped-uwu/ruiruiteikoku/assets/166282207/7b9a0295-ec2d-4a05-ae2b-4345dc3716a8') no-repeat center center;
    background-size: cover;
    opacity: 0.2;
}

.nav-tabs {
    position: absolute;
    top: 20px;
    left: 20px;
}

.nav-tabs a {
    text-decoration: none;
    color: #000;
    background-color: #ddd;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 5px;
    transition: all 0.3s ease;
}

.nav-tabs a:hover {
    background-color: #bbb;
}

.language-switch {
    position: absolute;
    top: 20px;
    right: 20px;
}

.language-switch a {
    text-decoration: none;
    color: #000;
    background-color: #ddd;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 5px;
    transition: all 0.3s ease;
}

.language-switch a:hover {
    background-color: #bbb;
}

@media screen and (max-width: 768px) {
    .header-content, .qa-section {
        max-width: 90%; /* モバイルデバイス用の幅を調整 */
    }

    .nav-tabs {
        top: 10px;
        left: 10px;
    }

    .nav-tabs a {
        padding: 5px 10px;
        margin: 0 2px;
    }

    h1 {
        font-size: 4rem;
    }

    .language-switch {
        top: 10px;
        right: 10px;
    }

    .language-switch a {
        padding: 5px 10px;
        margin: 0 2px;
    }
}
